@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'layout';

/* components */
//@import 'components/form_field';

/* sections */
//@import 'section/registration_form';

/* pages / views */
//@import 'pages/registration';

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li img {
	width: 15px;
	height: 15px;
	padding: 15px;
}

li a {
	display: flex;
	align-items: center;
	height: 30px;
	text-decoration: none;
	color: $menu-text-color;
	background-color: $menu-background-color;
	border-left: 4px solid $menu-background-color;
	&:hover {
		color: $menu-text-color-hover;
		background-color: $menu-background-color-hover;
		border-left: 4px solid $orange2;
	}
}

.menu {
	background-color: $menu-background-color;
	width: 200px;
	height: 100vh;
	position: fixed;
}