@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'layout';

/* components */
//@import 'components/form_field';

/* sections */
//@import 'section/registration_form';

/* pages / views */
//@import 'pages/registration';

h1 {
	color: $brand-main-color;
	font-size: $paragraph-font-size;
};

button {
	width: 200px;
	background-color: $active-button-color;
};

button:hover {
	width: 180px;
	background-color: $active-button-color-on-hover;
};