.view-general {
	.general-statistic, .general-links {
		display: block;
		align-items: center;
		h3 {
			line-height: 50px;
			min-width: 100%;
			margin: 0;
			padding-left: 20px;
			border-bottom: 1px solid $container-background-color;
		}
	}
	.general-calendar {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.general-calendar-text {
		margin: 0;
		width: auto;
	}
	.general-calendar-line {
		display: flex;
		align-items: center;
	}
	.general-calendar-row {
		display: flex;
		align-items: center;
		height: 90px;
		border-bottom: 1px solid $container-background-color;
	}
	.general-chart-row {
		height: 111px;
	}
}

@media(max-width: 767px) {
	@include grid('sm');
	.general-statistic {
		border-bottom: 5px solid $container-background-color;
	}
}

@media(min-width: 768px) {
	@include grid('md');
	.general-statistic {
		border-bottom: 10px solid $container-background-color;
	}
}

@media(min-width: 992px) {
	@include grid('lg');
	.general-statistic {
		border-bottom: 20px solid $container-background-color;
	}
}

@media(min-width: 1200px) {
	@include grid('xl');
}
