label {
	display: inline-block;
	height: 40px;
	font-family: $paragraph-font;
	color: $paragraph-color;
	font-size: $paragraph-font-size;
	font-weight: bold;
}

input, select {
	display: inline-block;
	height: 40px;
	border: 1px solid $container-background-color;
	border-radius: 4px;
	background-color: $page-background-color;
	color: $paragraph-color2;
	font-size: $input-font-size;
	padding-left: 15px;
	&:focus {
		outline: none;
		border-color: $focus-input-border-color;
	}
	&:invalid {
		background-color: $input-invalid-color;
	}
}

input[type="checkbox"] {
	visibility: hidden;
}

.newCheckbox {
	width: 25px;
	display: flex;
//	margin: 20px 100px;
	position: relative;
}

.newCheckbox label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	left: 0;
	background-color: $checkbox-unchecked-color;
	border: 1px solid $container-background-color;
}

.newCheckbox p {
	line-height: 25px;
	margin-left: 30px;
	color: $paragraph-color2;
	font-size: $paragraph-font-size2;
}

.newCheckbox label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background-color: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid $button-text-color;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}

.newCheckbox input[type=checkbox]:checked + label {
	background-color: $checkbox-checked-color;
}

.newCheckbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.checkbox-list {
	overflow-y: auto;
}
